In [21]:
import pandas as pd

df = pd.read_csv('/content/carprices.csv')

df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [25]:
X = df[['Mileage','Age(yrs)']]

y = df['Sell Price($)']

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [27]:
X_train

    Mileage  Age(yrs)
13    58780         4
5     59000         5
14    82450         7
16    28000         2
8     91000         8
10    83000         7
17    69000         5
0     69000         6
1     35000         3
4     46000         4
6     52000         5
9     67000         6
19    52000         5
3     22500         2

In [29]:
X_test

    Mileage  Age(yrs)
18    87600         8
11    79000         7
12    59000         5
2     57000         5
7     72000         6
15    25400         3